.regular {
  .workflow-topic-banner {
    // background-color: $secondary;
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1px $primary-medium;
    max-width: 610px;

    .workflow-banner-border-title {
      position: relative;
      top: -1.6em;
      margin-left: 0.5em;
      padding-bottom: -1.2em;
      display: inline;
      background-color: var(--secondary);
      font-size: 0.8em;
    }

    .workflow-banner-meta {
      padding: 5px;
      display: grid;
      grid-row-gap: 10px;
      grid-column-gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(240px, 240px));
      margin-top: -1.2em;
      .workflow-banner-section {
        display: grid;
        grid-template-columns: 80px 160px 160px;
        min-width: 240px;
        .workflow-action-buttons {
          display: inline-flex;
        }
        .workflow-action-button {
          margin-bottom: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}

.workflow-visualisation-modal {
  // max-width: 800px;
  max-height: 800px;
  width: 100%;

  .d-modal__container {
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
  }
  .modal-body {
    padding: 0;
  }
}

#workflow-visualisation {
  svg {
    z-index: 1000;
    border: 1px solid #ccc;
    background-color: $primary;

    .node {
      stroke: #333;
      stroke-width: 1px;
    }
    .link {
      fill: none;
      stroke: #aaa;
      stroke-width: 2px;
    }
    .arrowhead {
      fill: #aaa;
    }
    .lane {
      fill: #f9f9f9;
      stroke: #ddd;
      stroke-width: 1px;
    }
    .lane-label {
      font-size: 14px;
      fill: #333;
      font-weight: bold;
    }
    .link-label {
      font-size: 12px;
      fill: #555;
    }
  }
}
